[Unit]
Description = Cart Service
[Service]
User={app_user}
Environment=REDIS_HOST=redis.devops1008.online
Environment=CATALOGUE_HOST=catalogue.devops1008.online
Environment=CATALOGUE_PORT=8080
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target